extends layout

block content
    .container
        .row.content
            .span6.offset3
                table.table.table-hover.list-font
                    thead
                        tr
                            th
                                    完成
                            th
                                    待辦事項
                            th
                                    到期日
                    tbody
                        for todo_lists in done
                            tr.info(value=todo_lists.status)
                                td
                                    input.check(name=todo_lists._id,type="checkbox",value=todo_lists.status)
                                td.search(name=todo_lists._id)
                                    div.title
                                        |#{todo_lists.item.title}
                                    div.desc
                                        |#{todo_lists.item.desc}
                                td.search(name=todo_lists._id)
                                    |#{todo_lists.item.expire_date}
                                td
                                    img.del(name=todo_lists._id,src="/images/delete.png")
