extends layout

block content
    .container
        .row.content
            .span6.offset3
                table.table.table-hover.list-font
                    thead
                        tr
                            th
                                    完成
                            th
                                    標題
                            th
                                    到期日
                    tbody
                        for todo_lists in list
                            tr.info
                                td
                                    input.check(name=todo_lists._id,type="checkbox",value=list.done)
                                td.search(name=todo_lists._id)
                                    |#{todo_lists.item.title}
                                td.search(name=todo_lists._id)
                                    |#{todo_lists.item.expire_date}
                                td
                                    img.del(name=todo_lists._id,src="/images/delete.png")
                                        
    .navbar.navbar-fixed-bottom
        .navbar-inner.bar2
            .container
                .span6.offset4.msgbox
                    form(method='post',action='/add')
                        input(name='add_title',type="text",class="msgbox2",placeholder="新增待辦事項")
                        input.btn.btn-warning(type='submit',value='增加')

